@model Escuelita.Models.ViewModels.AlumnosViewModel
@{
    ViewBag.Title = "Editar Alumno";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Editar", "Alumnos", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.Id_Alumno)
            <div>
                @Html.LabelFor(d => d.Nombre_Alumno)
                @Html.TextBoxFor(d => d.Nombre_Alumno, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombre_Alumno, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Apellido_Alumno)
                @Html.TextBoxFor(d => d.Apellido_Alumno, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Apellido_Alumno, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Matricula)
                @Html.TextBoxFor(d => d.Matricula, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Matricula, null, new { @class = "red" })
            </div>





        </div>
        <div class="form-group">
            <label>Materias</label>
            <div>
                <label class="checkbox-inline">
                    @Html.CheckBoxFor(d => d.Ingles)
                    Ingles
                </label>
                <label class="checkbox-inline">
                    @Html.CheckBoxFor(d => d.Espanol)
                    Español
                </label>
                <label class="checkbox-inline">
                    @Html.CheckBoxFor(d => d.Matematicas)
                    Matematicas
                </label>
                <label class="checkbox-inline">
                    @Html.CheckBoxFor(d => d.Ciencias)
                    Ciencias
                </label>
            </div>
        </div>


        <div style="text-align:right">
            @Html.ActionLink("Regresar", "Index", "Alumnos", null, new { @class = "btn btn-primary", @style = "text-align:right" })
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
    </div>


}
